/* volunteerView */

.region-cont .summary {
    font-weight: 600;
    color: #000;
    padding: 10px 0px;
}
.region-cont .summary em {
    background-image: url('../../assets/img/ico-arrow.png');
    background-size: 17px;
    background-repeat: no-repeat;
    background-position-y: 3px;
    color: transparent;
}

.region-cont .summary span.active {
    color: #f45587;
}
.region-cont .thumb-box{
    padding-top : 10px;
}
.region-cont .thumb-box button{
    border: none;
    background-color: #ffffff;
    color: #333333;
    display: inline-block;
    text-align: center;
    border-radius: 0.3rem;
    vertical-align: top;
    min-width: 6.3rem;
    height: 2.8rem;
    min-height: 2.2rem;
    padding: 0 0.6rem;
    line-height: 1.5;
    margin: 4px 4px;
    box-shadow: 1px 1px 1px 1px #9c9c9c;
    font-size: 0.7rem;
}
.region-cont .thumb-box button.on{
    background-color: #eee;
}

.list-cont .title.underline{
    margin: 0.5rem 0rem;
    border-bottom: 0.4rem solid #a5ccff;
    width: fit-content;
    height: 22px;
}
.list-cont .title span{
    font-size: 1.3em;
    font-weight: 600;
    padding-right: 2rem;
}
.list-cont .total {
    border-top: 0.1rem solid#eee;
    border-bottom: 0.1rem solid#eee;
    padding: 7px 3px;
    margin-top : 15px;
    margin-bottom : 5px; 
}
.list-cont .total span{
    font-weight: 600;
}
.list-cont .list-wrap li.bt-bld{
    line-height: 1.4rem;
    padding: 10px 0px;
}
.list-cont .list-wrap li.bt-bld{
    border-bottom: 0.2rem solid #eee;
}
.list-cont .list-wrap li .top{
    text-align: right;
}
.list-cont .list-wrap li .left{
    position: absolute;
    left: 10px;
    font-weight: 500;
}
.list-cont .list-wrap .icon {
    font-size: 11px;
    border-radius: 10px;
    margin-right: 3px;
    padding: 2px 5px;
    color: #fff;
}
.list-cont .list-wrap p {
    font-size : 0.8rem;
}
/* 로그인 */
.login-wrap {
    margin: 3rem 2rem 1.2rem;
    display: flex;
    height: 100%;
    text-align: center;
}
.login-wrap .top-logo {
    content: '';
    width: 100%;
    height: 4.3rem;
    margin-bottom: 1rem;
    /* background: url(../img/common/img-logo-login.png) no-repeat center; */
    background-size: 24.9rem 5.3rem;
    image-rendering: -webkit-optimize-contrast;
    display: inline-block;
}
.login-wrap .inner {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.login-wrap .inp-wrap {
    margin-top: 1rem;
}
.login-wrap .inp-wrap .inp-box{
    margin-top: 0.7rem;
}
.login-wrap .inp-wrap .inp-label{
    margin-bottom: 0.7rem;
    font-size: 1rem;
    font-weight: 500;
    display: block;
    text-align: left;
}
.login-wrap .inp-text input {
    padding: 0 0.5rem;
    overflow: hidden;
    width: 90%;
    height: 2.3rem;
    border: 0.1rem solid #E1E1E1;
    border-radius: 3px;
    background: #ffffff;
    /* font-size: 1.1rem; */
    letter-spacing: -0.03rem;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.login-wrap .t-align {
    display: flex;
    align-items: center;
    margin-top: 0.7rem;
}
.login-wrap .chk-box {
    margin-left : 5px;
}
.login-wrap .btn-box {
    margin-top: 1.5rem;
}
.login-wrap .btn-box .btn-txt.dft{
    border: 0.1rem solid #333;
    background-color: rgb(51, 51, 51);
    color: #fff;
    white-space: nowrap;
    height: 3.8rem;
    display: block;
    width: 100%;
    font-size: 1.4rem;
    line-height: 1;
    padding: 1rem;
}